<div class="container">
    <div class="row">
        <table class="table  table-striped  table-hover table-bordered">
           
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Location</th>
                  
                  </tr>
                  </thead>
                  <tbody>
                <tr *ngFor="let user of users$">
                    <td scope="col">
                        {{user.id}}
                    </td>
                    <td scope="col">
                        {{user.name}}
                    </td>
                    <td scope="col">
                        {{user.email}}
                    </td>
                    <td scope="col">
                        {{user.website}}
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>

