.navbar{
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    opacity: 0.8;
}
.navbar-nav .nav-link {
    color: #ffffff;    
    
    font-weight: 600;
    transition: all 0.6s ease;
    font-size: medium;
    
  }
  .navbar-nav .nav-link:hover {
    
    font-weight: 600;
    color: #FFD700;
    cursor: pointer;
  }
  .dropend .dropdown-toggle {
    color: #ffffff;
    margin-left: 1em;
  }
  .dropdown-item{
    color: #ffffff;
  }
  .dropdown-item:hover {
    /* background-color: lightsalmon; */
    color:  #FFD700;  
    background-color: #2b4162;    
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  }
  .dropdown .dropdown-menu {
    display: none;
    
  }
  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    margin-left: 0.125em;
    color: #ffffff;   
  }
  @media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle {
      margin-left: 0.5em;
    }
  }

  .navbar-toggler{
    background:#ffffff;
  }
@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

.hide{
    display: none;    
}
