<!-- <div class="container">
    <div class="row  py-5 card-deck">
        <div class="col-lg-4 card">
            <a href="./asset/images/gallary/1.jpg" data-lightbox="image" data-title="My caption">
                <img class="ui bordered small image" src="./asset/images/gallary/1.jpg">
            </a>
        </div>
        <div class="col-lg-4 card">
            <a href="./asset/images/gallary/1.jpg" data-lightbox="image" data-title="My caption">
                <img class="ui bordered small image" src="./asset/images/gallary/1.jpg">
            </a>
        </div>
        <div class="col-lg-4  card">
            <a href="./asset/images/gallary/1.jpg" data-lightbox="image" data-title="My caption">
                <img class="ui bordered small image" src="./asset/images/gallary/1.jpg">
            </a>
        </div>
        <div class="col-lg-4 card">
            <a href="./asset/images/gallary/1.jpg" data-lightbox="image" data-title="My caption">
                <img class="ui bordered small image" src="./asset/images/gallary/1.jpg">
            </a>
        </div>
        <div class="col-lg-4 card">
            <a href="./asset/images/gallary/1.jpg" data-lightbox="image" data-title="My caption">
                <img class="ui bordered small image" src="./asset/images/gallary/1.jpg">
            </a>
        </div>
        <div class="col-lg-4 card">
            <a href="./asset/images/gallary/1.jpg" data-lightbox="image" data-title="My caption">
                <img class="ui bordered small image" src="./asset/images/gallary/1.jpg">
            </a>
        </div>
        
    </div>
</div> -->


<div class="lightbox-gallery rem-bg">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Gallery</h2>
            <p class="text-center">Find the gallery for your project. click on any image to open gallary</p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item" *ngFor='let img of imageGallaryList'>
                <a [href]="img.url" data-lightbox="photos">
                    <img class="img-fluid" [src]="img.url" [alt]="img.alt">
                </a>
            </div>
           
        </div>
    </div>
</div>