<section>
    <div class="banner">
        <img class="img-fluid d-block w-100" src="./asset/images/banner/blog.jpg" alt="banner">
    </div>    
</section>

<section class="blog_section">
    <div class="container">
        <div class="blog_content">
            <div class="owl-carousel owl-theme">
                <div class="blog_item">
                    <div class="blog_image">
                        <img class="img-fluid" src="https://cdn.pixabay.com/photo/2019/03/10/18/31/hong-kong-4046913_960_720.jpg" alt="images not found">
                        <span><i class="icon ion-md-create"></i></span>
                    </div>
                    <div class="blog_details">
                        <div class="blog_title">
                            <h5><a href="#">We are best for any industrial & business solution.</a></h5>
                        </div>
                        <ul>
                            <li><i class="icon ion-md-person"></i>Alex</li>
                            <li><i class="icon ion-md-calendar"></i>August 1, 2018</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem...</p>
                        <a href="#">Read More<i class="icofont-long-arrow-right"></i></a>
                    </div>
                </div>                        
                <div class="blog_item">
                    <div class="blog_image">
                        <img class="img-fluid" src="https://cdn.pixabay.com/photo/2015/07/09/22/45/tree-838667_960_720.jpg" alt="images not found">
                        <span><i class="icon ion-md-create"></i></span>
                    </div>
                    <div class="blog_details">
                        <div class="blog_title">
                            <h5><a href="#">We are best for any industrial & business solution.</a></h5>
                        </div>
                        <ul>
                            <li><i class="icon ion-md-person"></i>Alex</li>
                            <li><i class="icon ion-md-calendar"></i>August 1, 2018</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem...</p>
                        <a href="#">Read More<i class="icofont-long-arrow-right"></i></a>
                    </div>
                </div>                        
                <div class="blog_item">
                    <div class="blog_image">
                        <img class="img-fluid" src="https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_960_720.jpg" alt="images not found">
                        <span><i class="icon ion-md-create"></i></span>
                    </div>
                    <div class="blog_details">
                        <div class="blog_title">
                            <h5><a href="#">We are best for any industrial & business solution.</a></h5>
                        </div>
                        <ul>
                            <li><i class="icon ion-md-person"></i>Alex</li>
                            <li><i class="icon ion-md-calendar"></i>August 1, 2018</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem...</p>
                        <a href="#">Read More<i class="icofont-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  